* {
  margin: 0;
  padding: 0;
}
.header {
  background: rgb(72, 42, 141);
  color: rgb(219, 255, 12);
  text-align: center;
  padding: 30px;
}
.contant {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#todo-form {
  margin-top: 5rem;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.label {
  font-weight: bold;
  margin-right: 1rem;
}
.input {
  padding: 1rem;
  height: 20px;
}
.submit {
  border: none;
  background: rgb(72, 42, 141);
  color: rgb(52, 243, 13);
  border-radius: 10px;
  padding: 7px;
}
#todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  width: 300px;
  padding-left: 40px;
}
.item {
  padding: 1rem;
}
#msg {
  font-size: 20px;
  color: red;
  display: none;
}
