* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #9b4dcb;
}
.header {
  width: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #6a1b9a;
  color: #fff;
  text-align: center;
  padding: 2rem;
  /* position   전체적으로 줘서 반응할수있게 */
}
.word-display {
  font-size: 50px;
  font-weight: 600;
  color: #38006b;
  margin-top: 9rem;
}
.word-input-box {
  margin-top: 5rem;

}
.word-input {
  padding: 0.5rem;
  width: 400px;
  font-size: 22px;
  border: none;
  border-radius: 20px;
}
.game-info {
  margin-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  width: 500px;
  color: #fff;
}
.time,
.score {
  font-size: 3rem;
}
button {
  width: 100%;
  height: 137px;
  background-color: #6a1b9a;
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 50% 50% 0 0;
  cursor: pointer;
  position: absolute;
  bottom:0;
}
.loading {
  border-radius: 50% 50% 0 0;
  background-color:#9b4dcb;
  cursor: not-allowed;
}
