* {
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
}
/* //센터로어떻게옮겨? */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lotto {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid;
}
span{
  color:red;
}
.numbers {
  border: 1px dotted black;
  border-radius: 25px;
  width: 270px;
  height: 70px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.eachNum {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 3px;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: whitesmoke;
  background-color: rgb(222, 76, 14);
  padding: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
button:active {
  color: rgb(222, 76, 14);
  background-color: blanchedalmond;
}
